body {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive; 
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #FF6F91;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  color: #555555;
  margin-bottom: 1.5rem;
}

/* Form Labels */
label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #444444;
}

/* Form Inputs */
input[type="text"],
textarea {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px double #fabecc; 
  border-radius: 8px;
  font-family: 'Comic Neue', cursive;
  font-size: 1rem;
  outline: none;
}


button[type="submit"] {
  background-color: #FFC75F; 
  color: #333333;
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Comic Neue', cursive;
  transition: transform 0.2s ease;
}

button[type="submit"]:hover {
  transform: scale(1.1);
  background-color: #FF9671; 
}

.error-box {
  margin-top: 1rem;
  color: red;
}

.result-box {
  margin-top: 1rem;
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
  border: 2px dashed #FF9671;
}

.result-box h2 {
  margin-top: 0;
  color: #FF6F91;
}
